#articulos{
    background-color: white;
     margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

#articulos .contenedor{
  margin: auto;
  display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap ;
    -moz-flex-wrapp: wrap;
    justify-content: center;
    width: 90%;
}
#articulos img{ 
    width: 280px;
    height: 200px;   
}

#articulos article{
    width: 280px;
    text-align: center ;
    margin: 20px;

}

h3, h4{
  text-align: center ;
}